<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main__content">
        {{>header}}
        <img class="potrait"
            src="https://instagram.fblr2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/121669098_372586607432509_1091975250950941128_n.jpg?_nc_ht=instagram.fblr2-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=GK5phATOixQAX8HYW3V&tp=1&oh=99cdc221ecf10bbd48b6d1a2c181c71f&oe=60315E35"
            alt="sandeep">
        <p> {{Description}}</p>
    </div>

    {{>footer}}
</body>

</html>