<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main__content">
        {{>header}}
        {{!-- <video autoPlay loop muted class="help__video">
            <source src="./img/bg-vdo2.mp4" type="video/mp4">
        </video> --}}
        <p>{{Description}}</p>
    </div>
    {{>footer}}

</body>

</html>